@color-zinc-50: oklch(0.985 0 0);
@color-zinc-100: oklch(0.967 0.001 286.375);
@color-zinc-200: oklch(0.92 0.004 286.32);
@color-zinc-300: oklch(0.871 0.006 286.286);
@color-zinc-400: oklch(0.705 0.015 286.067);
@color-zinc-500: oklch(0.552 0.016 285.938);
@color-zinc-600: oklch(0.442 0.017 285.786);
@color-zinc-700: oklch(0.37 0.013 285.805);
@color-zinc-800: oklch(0.274 0.006 286.033);
@color-zinc-900: oklch(0.21 0.006 285.885);
@color-zinc-950: oklch(0.141 0.005 285.823);


.modal {
  .ant-modal-content {
    background-color: @color-zinc-800;
    color: #ffffff;
  }

  .ant-modal-header {
    background-color: @color-zinc-800;
    border-bottom: 0;
  }

  .ant-modal-title {
    color: #ffffff;
  }

  .ant-modal-close {
    color: #bbb;

    &:hover {
      color: #fff;
    }
  }

  .ant-modal-body {
    background-color: transparent; // 背景色を透明に設定
    padding: 0 24px;
  }

  .ant-modal-footer {
    background-color: @color-zinc-800;
    border-top: 0;
  }

  .ant-btn-primary {
    background-color: #007acc;
    border-color: #007acc;

    &:hover {
      background-color: #005f99;
      border-color: #005f99;
    }
  }

  .ant-btn-default {
    background-color: #444;
    border-color: #555;
    color: #fff;

    &:hover {
      background-color: #666;
      border-color: #777;
    }
  }

  .ant-slider-track {
    background-color: #007acc;
  }

  .ant-slider-handle {
    border-color: #007acc;

    &:hover {
      border-color: #005f99;
    }
  }

/* === Radio.Group（ant-radio-group）用のダークモード設定 === */
  .ant-radio-button-wrapper {
    background-color: transparent; // 背景は透明に
    color: #fff;

    &:hover {
      color: #ddd;
    }
  }
  
  .ant-radio-group {
    background-color: transparent; // 背景は透明に
    color: #fff; // テキストカラーを白に
    padding: 16px 0; // 上下の余白を追加
  }

  .ant-radio-wrapper {
    color: #fff;

    &:hover {
      color: #ddd;
    }
  }

  .ant-radio {
    .ant-radio-inner {
      border-color: #bbb;

      &:hover {
        border-color: #007acc;
      }
    }

    &.ant-radio-checked {
      .ant-radio-inner {
        background-color: #007acc;
        border-color: #007acc;
      }

      &:after {
        border-color: #007acc;
      }
    }
  }
}
